/*
 * jsTree raptus theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */


.jstree-raptus a .jstree-icon.jstree-Article { background-position:0px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-Image { background-position:-18px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-File { background-position:-36px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-Topic { background-position:-54px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-Link { background-position:-72px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-News { background-position:-90px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-FormFolder { background-position:-108px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-Map { background-position:-126px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-Marker { background-position:-144px -72px !important; }
.jstree-raptus a .jstree-icon.jstree-Event { background-position:-162px -72px !important; }

.jstree-raptus .jstree-node.jstree-defaultPage:after { content:"*"; }

/* jquery.jstree.js overwrites */
.jstree-raptus ::selection { background:transparent; }
.jstree-raptus a { color:#d9d9d9; /*height:25px;*/ }
.jstree-raptus a:hover { color:#ffffff; }
.jstree-raptus a > .jstree-icon { margin-right:4px; }
/* --- */

.jstree-raptus { overflow-x:hidden; overflow-y:auto; }
.jstree-raptus .jstree-node-clicked { background:#333333; color:white; cursor:pointer; }
.jstree-raptus .jstree-node-hovered { background:#333333; color:white; cursor:pointer; }
.jstree-raptus .jstree-node { position:relative; padding:6px; }

.jstree-raptus li { margin-left:0px; }
.jstree-raptus li a ins { margin-left:0px !important; }
.jstree-raptus ul li ins { margin-left:0px; }
.jstree-raptus ul li li ins { margin-left:18px; }
.jstree-raptus ul li li li ins { margin-left:36px; }
.jstree-raptus ul li li li li ins { margin-left:54px; }
.jstree-raptus ul li li li li li ins { margin-left:72px; }
.jstree-raptus ul li li li li li li ins { margin-left:90px; }
.jstree-raptus ul li li li li li li li ins { margin-left:108px; }
.jstree-raptus ul li li li li li li li li ins { margin-left:126px; }
.jstree-raptus ul li li li li li li li li li ins { margin-left:144px; }
.jstree-raptus ul li li li li li li li li li li ins { margin-left:162px; }
.jstree-raptus ul li li li li li li li li li li li ins { margin-left:180px; }
.jstree-raptus li,
.jstree-raptus ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-raptus li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-raptus li.jstree-last { background:transparent; }
.jstree-raptus .jstree-open > div > ins { background-position:-72px 0; }
.jstree-raptus .jstree-closed > div > ins { background-position:-54px 0; }
.jstree-raptus .jstree-leaf > div > ins { background-position:-36px 0; }
.jstree-raptus .jstree a > ins { height:18px; width:18px; }

.jstree-raptus .jstree-hovered { color:white; }
.jstree-raptus .jstree-clicked { color:white; font-weight:bold; }
.jstree-raptus a .jstree-icon { background-position:-56px -19px; }
.jstree-raptus .jstree-open > div > a .jstree-icon { background-position:-56px -36px; }
.jstree-raptus a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-raptus.jstree-focused { /*background:white;*/ }

.jstree-raptus .jstree-no-dots li,
.jstree-raptus .jstree-no-dots .jstree-leaf > div > ins { background:transparent; }
.jstree-raptus .jstree-no-dots .jstree-open > div > ins { background-position:-18px 0; }
.jstree-raptus .jstree-no-dots .jstree-closed > div > ins { background-position:0 0; }

.jstree-raptus .jstree-no-icons a .jstree-icon { display:none; }

.jstree-raptus .jstree-search { font-style:italic; }

.jstree-raptus .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-raptus .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-raptus .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-raptus .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-raptus .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-raptus .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-raptus .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-raptus .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-raptus ins { background:transparent !important; }
#vakata-dragged.jstree-raptus .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-raptus .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-raptus { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-raptus a.jstree-search { color:aqua; }
.jstree-raptus .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-raptus-context { position:fixed; font:11px Arial, Helvetica, Verdana, sans-serif; }
#vakata-contextmenu.jstree-raptus-context li ul { position:absolute; }
#vakata-contextmenu.jstree-raptus-context,
#vakata-contextmenu.jstree-raptus-context li ul { background:#333333; border:none; }
#vakata-contextmenu.jstree-raptus-context li { padding:6px; }
#vakata-contextmenu.jstree-raptus-context li:hover { background:#444444; }
#vakata-contextmenu.jstree-raptus-context li:hover a { color:#ffffff; }
#vakata-contextmenu.jstree-raptus-context a { color:#a3a3a3; }
#vakata-contextmenu.jstree-raptus-context a:hover { background:transparent; }
/*#vakata-contextmenu.jstree-raptus-context a:hover,
/*#vakata-contextmenu.jstree-raptus-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }*/
#vakata-contextmenu.jstree-raptus-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-raptus-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-raptus-context li.vakata-separator { margin:0; padding:0; }
#vakata-contextmenu.jstree-raptus-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-raptus li,
.jstree-raptus ins,
#vakata-dragged.jstree-raptus .jstree-invalid,
#vakata-dragged.jstree-raptus .jstree-ok,
#jstree-marker.jstree-raptus { _background-image:url("d.gif"); }
.jstree-raptus .jstree-open ins { _background-position:-72px 0; }
.jstree-raptus .jstree-closed ins { _background-position:-54px 0; }
.jstree-raptus .jstree-leaf ins { _background-position:-36px 0; }
.jstree-raptus .jstree-open a ins.jstree-icon { _background-position:-56px -36px; }
.jstree-raptus .jstree-closed a ins.jstree-icon { _background-position:-56px -19px; }
.jstree-raptus .jstree-leaf a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-raptus-context ins { _display:none; }
#vakata-contextmenu.jstree-raptus-context li { _zoom:1; }
.jstree-raptus .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-raptus .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-raptus .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */