/* sidebar */

#navexplorer_plone_frame {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
}


#navexplorer_sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #262626;
  z-index: 100;
  font: 12px Arial, Helvetica, Verdana, sans-serif;
}

#navexplorer_sidebar.hiddenPanel #dragbar {
  display: none;
}

#navexplorer_sidebar #dragbar {
  background-color: #333333;
  height: 100%;
  float: right;
  width: 5px;
  cursor: col-resize;
}

#dragsurface {
  position: absolute;
  z-index: 50;
  width: 100%;
  visibility: hidden;
}

#navexplorer_sidebar #dragbar:hover {
  background-color: #d9d9d9;
}

#ghostbar{
  width: 3px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: col-resize;
  z-index: 999;
}

#navexplorer_sidebar #navexplorer_content #header {
  height: 40px;
  color: #ffffff;
}

#navexplorer_sidebar #navexplorer_content #header div.title {
  padding-left: 20px;
  padding-top: 14px;
  font-size: 120%;
  height: 26px;
}

#navexplorer_sidebar #navexplorer_content #header ul {
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 0;
  top: 0;
}

#navexplorer_sidebar #navexplorer_content #header li {
  display: block;
  float: left;
  position: relative;
  width: 20px;
  padding-top: 10px;
  margin: 0px;
}

#navexplorer_sidebar #navexplorer_content #header li a {
  display: inline-block;
  width: 20px;
  height: 20px;
}



#navexplorer_sidebar.hiddenPanel #navexplorer_tree,
#navexplorer_sidebar.hiddenPanel #navexplorer_info_wrap {
  display: none;
}

#navexplorer_sidebar #navexplorer_content #header #header_reload {
  background:url("++resource++raptus.navexplorer.images/reload.png") no-repeat center center;
}

#navexplorer_sidebar #navexplorer_content #header #header_hide {
  background:url("++resource++raptus.navexplorer.images/hide.png") no-repeat center center;
}

#navexplorer_sidebar #navexplorer_content #header #header_close {
  background:url("++resource++raptus.navexplorer.images/close.png") no-repeat center center;
}

#navexplorer_sidebar #navexplorer_content #header #header_newwin {
  background:url("++resource++raptus.navexplorer.images/detach.png") no-repeat center center;
}

#navexplorer_sidebar #navexplorer_content #header #header_help {
  background:url("++resource++raptus.navexplorer.images/help.png") no-repeat center center;
}

#navexplorer_sidebar.hiddenPanel #navexplorer_content #header #header_hide {
  background:url("++resource++raptus.navexplorer.images/show.png") no-repeat center center;
}

#navexplorer_sidebar #navexplorer_content #header #header_reload:hover,
#navexplorer_sidebar #navexplorer_content #header #header_hide:hover,
#navexplorer_sidebar #navexplorer_content #header #header_close:hover,
#navexplorer_sidebar #navexplorer_content #header #header_newwin:hover,
#navexplorer_sidebar #navexplorer_content #header #header_help:hover {
  background-color: #333333;
}

#navexplorer_sidebar #navexplorer_content .hidden {
  display: none;
}

#navexplorer_sidebar #navexplorer_info_wrap {
  position: absolute;
  top: 100px;
  left: 315px;
  width: 600px;
  background-color: #262626;
  border-left: 5px solid #333333;
}

#navexplorer_sidebar #navexplorer_info_wrap #info_spacer {
  position: absolute;
  background: #333333 url("++resource++raptus.navexplorer.images/show.png") no-repeat center center;
  height: 30px;
  width: 15px;
  top: 0px;
  left: -20px;
}

#navexplorer_sidebar #navexplorer_info_wrap a {
  color: #a6a6a6;
  text-decoration: none;
}

#navexplorer_sidebar #navexplorer_info_wrap a.active {
  color: #ffffff;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info>ul {
  margin: 0px;
  height: 30px;
  background-color: #333333;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info>ul>li:first-child {
  padding-left: 20px;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info>ul>li {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  padding: 10px 10px 0px;
  margin: 0px;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info div {
  padding: 5px 5px 5px 10px;
  color: #f2f2f2;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info div th,
#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info div td:first-child,
#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info div dt {
  vertical-align: top;
  color: #b2b2b2;
  padding-right: 10px;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info div ul {
  list-style: none;
  margin-top: 0px;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info table.listing {
  border-collapse: collapse;
  font-size: 85%;
  margin: 1em 0em 1em 0em;
  border: none;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info table.listing th,
#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info table.listing td {
  background-color: transparent;
  text-transform: none;
  border: none;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info .listingCheckbox {
  text-align: center;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info .odd {
  background-color: #333333;
}

#navexplorer_sidebar #navexplorer_info_wrap #navexplorer_info .even {
  background-color: #262626;
}

#navexplorer_sidebar #manual_message {
  position: absolute;
  top: 0px;
  background-color: #262626;
  height: 100%;
  width: 100%;
}

#navexplorer_sidebar #manual_message.hidden {
  display: none;
}

#navexplorer_sidebar #manual_message ul {
  margin: 0px;
  padding: 0px;
}

#navexplorer_sidebar #manual_message li {
  display: block;
  float: left;
  position: relative;
  height: 27px;
  text-align: center;
  background-color: #333333;
  padding-top: 13px;
  margin: 0px;
}

#navexplorer_sidebar #manual_message li.nav {
  width: 50%;
}

#navexplorer_sidebar #manual_message li.nav a {
  font-size: 120%;
  color: #a6a6a6;
}

#navexplorer_sidebar #manual_message li.nav a.active {
  color: #ffffff;
}

#navexplorer_sidebar #manual_message div.icon {
  padding-top: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#navexplorer_sidebar #manual_message div.icon a {
  background:url("++resource++raptus.navexplorer.images/close.png") no-repeat center center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#navexplorer_sidebar #manual_message li span {
  color: #cccccc;
}

#navexplorer_sidebar #manual_message li span:hover {
  color: #ffffff;
}

#navexplorer_sidebar #manual_message #manual_message_tabs .hidden {
  display: none;
}

#navexplorer_sidebar #manual_message #manual_message_tabs #header {
  height: 40px;
}

#navexplorer_sidebar #manual_message #manual_message_tabs #tab_manual p,
#navexplorer_sidebar #manual_message #manual_message_tabs #tab_development p {
  padding: 10px;
}

#navexplorer_sidebar #manual_message #manual_message_tabs #tab_development a.logo {
  display: block;
  background-color: white;
  overflow: hidden;
}
