/* sidebar */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font: 12px Arial, Helvetica, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: #d9d9d9;
}

a {
    text-decoration: none;
    color: #4F85AD;
}

#navexplorer_window {
    height: 100%;
    width: 100%;
}

#navexplorer_window #navexplorer_sidebar {
    position: static;
    width: 100% !important;
    background-color: #262626;
}

#navexplorer_window #navexplorer_sidebar #header {
  color: #8c8c8c;
}

#navexplorer_window #navexplorer_sidebar #header li.newwin,
#navexplorer_window #navexplorer_sidebar #header li.hide {
  display: none;
}

#navexplorer_window #navexplorer_sidebar #manual_message {
    width: 100%;
}

#navexplorer_window #navexplorer_sidebar #manual_message li.icon {
    width: 10%;
}

#navexplorer_window #navexplorer_sidebar #navexplorer_info_wrap {
    top: 0px;
    right: 15px;
    left: auto !important;
}

#navexplorer_window #navexplorer_sidebar.hiddenPanel #navexplorer_tree {
    display: block !important;
}

#navexplorer_window #navexplorer_sidebar #dragbar,
#navexplorer_window #navexplorer_sidebar #dragsurface {
    display: none;
}

