body {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 11px;
}

html,
body,
#navexplorer_content{
  
}

#navexplorer_info_wrap{
  height: 100%;
  /*position: relative;*/
}

#navexplorer_info {
  position: absolute;
  width:95%;
  bottom: 5px;
}